:root {
  --white: #FFFFFF;
  --blue-900: #041E42;
  --blue-100: #E0E2EB;
  --blue-200: #C1C6D8;
  --blue-600: #2058A8;
  --grey-800: #37414F;
  --grey-100: #EDEFF3;
  --grey-700: #56657A;
  --grey-400: #CDD1DB;
  --grey-300: #DBDFE6;
  --grey-900: #171719;
  --grey-600:  #868FA2;
}


